pip instal faker
pip install sqlalchemy
pip install sqlalchemy-continuum
pip install flask-appbuilder flask-extras
pip install flask-extras
pip install wtforms-alchemy
pip install flask-pymongo mongoengine
pip install sqlalchemy-mixins salalchemy-utils sqlalchemy-continuum sqlalchemy-searchable
libssl1.0.0_1.0.1t-1+deb8u6_amd64.depb




# Fake Data
pip install http://github.com/guedes/faker_fdw/archive/v0.1.2.zip
pip install pgxnclient


